@{
    Layout = null;
}


<div id="course-modal" class="modal fade ">
    <div class="modal-dialog modal-lg bd-course-modal-lg">
        <div id="course-modal-content" class="modal-content">
        </div>
    </div>
</div>
