@{
    Layout = null;
}


<div id="classsession-modal" class="modal fade ">
    <div class="modal-dialog modal-lg bd-classsession-modal-lg">
        <div id="classsession-modal-content" class="modal-content">
        </div>
    </div>
</div>
