@{
    Layout = null;
}


<div id="faculty-modal" class="modal fade ">
    <div class="modal-dialog modal-lg bd-faculty-modal-lg">
        <div id="faculty-modal-content" class="modal-content">
            
            
            
        </div>
    </div>
</div>
